#GITIGNORE for Ore Spiders

/Ore Spiders/.gradle/
/Ore Spiders/.metadata/
/Ore Spiders/.settings/
/Ore Spiders/bin/
/Ore Spiders/build/
/Ore Spiders/eclipse/
/Ore Spiders/gradle/
/Ore Spiders/.classpath
/Ore Spiders/.project
/Ore Spiders/build.gradle
/Ore Spiders/CREDITS-fml.txt
/Ore Spiders/forge-1.7.2-10.12.0.982-changelog.txt
/Ore Spiders/gradlew
/Ore Spiders/LICENSE-fml.txt
/Ore Spiders/MinecraftForge-Credits.txt
/Ore Spiders/MinecraftForge-License.txt

*.bat
*.sh
*.zip
*.cfg
